body {
    height:100vh;
    display:flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color: white;
}
header {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:200px;
    margin-bottom:50px;
    color: white;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
.top-section {
    padding-bottom:100px;
    background-color: #1F2937;
    color: white;
    box-shadow: 1px 1px 15px 5px #888888;
}

.links {
    list-style: none;
    display:flex;
    gap:15px;
    font-size: 18px;
    color: #e5e7eb;
}

.heading {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}
.heading2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom:40px;
    color: #1f2937;
}


.print-options {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 65px;
    text-align: center;
}

.container {
    height:100px;
    width:100px;
}
.box {
    border: solid #1f2937;
    height:100px;
    width:100px;
    border-radius: 10px;
    margin-bottom:5px;
    box-sizing:border-box;
}

.container-block {
    background-color: #e5e7eb;
    display:flex;
    padding:50px;
    align-items: center;
    justify-content: center;
}

.customer-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width:550px;
    flex-shrink: 0;

}

.quote {
    margin-top:20px;
    align-self: flex-end;
    padding-right: 30px;
    font-size: 17px;
    font-weight: 800;
}
.customer-comment {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.content1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

.get-quote {
    display:flex;
    flex-direction: column;
    width: 330px;
    flex-shrink:0;
}

.main-img {
    width:250px;
    padding-left:50px;
}
.action-container {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    height:100px;
    width:600px;
    align-items: center;
    justify-content: space-around;
    background-color:#3882f6;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-up-head {
    font-size: 17px;
    font-weight: 900;
    color:white;
    margin-bottom: 3px;
}

.subhead {
    font-size: 13px;
    color:white;
}

.special-offers {
    width:300px;
}
.button1 {
    width:150px;
    height:50px;
    margin-top:15px;
    border-radius:8px;
    box-sizing:border-box;
    color: white;
    background-color: #3882f6;
    font-weight: 650;
}

.button2 {
    width:100px;
    height:30px;
    border-radius: 8px;
    box-sizing:border-box;
    border: solid white;
    border-width: 2px;
    color: white;
    background-color: #3882f6;
    font-weight: 650;
}

.text {
    color:#1f2937;
}
.footer-container {
    display: flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    padding:25px;
}

.bottom-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}